*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#main{
    background-image:linear-gradient(rgba(39, 39, 40, 0.169), rgba(39, 39, 40, 0.169)), url(image/chicago-city-lights-at-night.jpg);

    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    
}
#dropdown{
    transform: translateX(32em);
}